<!DOCTYPE html>
<html lang="en">
<head>
    <title>Actor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="@{/css/style.css}">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="a-actor">
                </div>
                <center>
                    <a href="/web/pagehome" class="btn btn-primary">Trang chủ</a>
                </center>
            </div>

        </div>
    </div>

</body>
</html>