<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Store Book</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/image/icon/favicon.png}" type="image/png" sizes="16x16">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="${mess}"></h1>
            <div class="form-group">
                <label for="nameBook">Name :</label>
                <input type="text" class="form-control" id="nameBook"
                       th:value="${book.getName()}">
                <input type="hidden" id="idBook"
                       th:value="${book.getId()}">
            </div>
            <div class="form-group">
                <label for="descriptionBook">Description :</label>
                <input type="text" class="form-control" id="descriptionBook"
                       th:value="${book.getDescription()}">
            </div>
            <div class="form-group">
                <label for="priceBook">Price :</label>
                <input type="number" class="form-control" id="priceBook"
                       th:value="${book.getPrice()}">
            </div>
            <div class="form-group">
                <label for="starBook">Star :</label>
                <input type="number" class="form-control" id="starBook"
                       th:value="${book.getStar()}">
            </div>
            <div class="form-group">
                <label for="imageBook">Image :</label>
                <input style="border: none;background: none;" type="file" name="file" class="form-control" id="imageBook" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <img width="200" height="200" id="bookImage" th:src="@{${book.getImage()}}" alt="">
            </div>
            <div class="form-group">
                <label for="nameAuthorBook">Name Author :</label>
                <input type="text" class="form-control" th:value="${author.getNameAuthor()}" id="nameAuthorBook" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="bridayAuthorBook">Birday Author Book :</label>
                <input type="date" class="form-control" th:value="${birthdayAuthor}" id="bridayAuthorBook" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="categoryBook">Thể loại của cuốn sách :</label><br />
                <select id="categoryBook">
                    <option th:each="category : ${lstCategory}" th:value="${category.getId()}" th:text="${category.getName()}"></option>
                </select>
            </div>
            <center>
                <a th:href="@{/book//home}" class="btn btn-primary">Trang chủ</a>
                <a id="editBook" class="btn btn-success">Sửa</a>
            </center>
        </div>

    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script th:src="@{/js/scriptDetail.js}"></script>
</body>
</html>