<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Store Book</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/image/icon/favicon.png}" type="image/png" sizes="16x16">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container mt-5">
    <div id="addProduct" data-toggle="modal"
         data-target="#modalAddBook"
         class="btn btn-success">Add New Product</div>
    <div class="form-group my-4">
        <input type="text" id="KeyWord" onkeypress="searchBook()" class="form-control w-50 mb-2" placeholder="Nhập tên sản phẩm bạn muốn tìm!">
        <button onclick="searchBook()" type="submit" class="btn btn-primary">Serach</button>
    </div>
    <div class="row">
        <h1 id="NullBook"></h1>
        <div id="list-book"
             class="col-md-4 mb-3 mb-md-0">
        </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="modalAddBook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nameBook">Name :</label>
                    <input type="text" class="form-control" id="nameBook" aria-describedby="emailHelp" placeholder="Nhập tên của sản phẩm">
                </div>
                <div class="form-group">
                    <label for="descriptionBook">Description :</label>
                    <input type="text" class="form-control" id="descriptionBook" aria-describedby="emailHelp" placeholder="Nhập mô tả của sản phẩm">
                </div>
                <div class="form-group">
                    <label for="priceBook">Price :</label>
                    <input type="number" class="form-control" id="priceBook" aria-describedby="emailHelp" placeholder="Nhập giá tiền của sản phẩm">
                </div>
                <div class="form-group">
                    <label for="starBook">Star :</label>
                    <input type="number" class="form-control" id="starBook" aria-describedby="emailHelp" placeholder="Nhập đánh giả của sản phẩm từ 1 - 5">
                </div>
                <div class="form-group" style="border: none">
                    <label for="bookImage">Image :</label>
                    <input style="border: none;" type="file" name="file" class="form-control" id="bookImage" aria-describedby="emailHelp">
                    <img id="imageBook" width="200" height="200"  alt="">
                </div>
                <div class="form-group">
                    <label for="nameAuthorBook">Tên tác giả cuốn sách :</label>
                    <input type="text" class="form-control" id="nameAuthorBook" aria-describedby="emailHelp" placeholder="Nhập tên của tác giả cuốn sách">
                </div>
                <div class="form-group">
                    <label for="birthdayAuthorBook">Ngày sinh của tác giả :</label>
                    <input type="date" class="form-control" id="birthdayAuthorBook" aria-describedby="emailHelp" placeholder="Nhập ngày sinh của tác giả cuốn sách">
                </div>
                <div class="form-group">
                    <label for="categoryBook">Thể loại của cuốn sách :</label>
                    <select id="categoryBook">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="createBook" class="btn btn-primary"
                >Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>