<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Store Book</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/image/icon/favicon.png}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container mt-5">
    <div id="addProduct" data-toggle="modal"
         data-target="#modalAddProduct"
         class="btn btn-success">Add New Product</div>
    <div class="form-group my-4">
        <input type="text" id="BookKeyWord" class="form-control w-50 mb-2" placeholder="Nhập tên sản phẩm bạn muốn tìm!">
        <button id="searchBook" type="submit" class="btn btn-primary">Serach</button>
    </div>
    <h1 th:text="${mess}"></h1>
    <div class="row">
        <div th:each="book : ${lstBook}"
             class="col-md-4 mb-3 mb-md-0">
            <div class="card h-100">
                <div class="labels">
                    <div class="label-new bg-success text-white text-center py-1">New</div>
                    <div class="label-sale bg-primary text-white text-center py-1">Sale</div>
                </div>
                <img th:src="@{${book.getImage()}}" class="img-fluid" id="newImageBook" alt="">
                <div class="card-body position-relative d-flex flex-column">
                    <a href="#" class="add-to-cart bg-primary text-white" data-toggle="tooltip" data-placement="left"
                       title="Add To Cart">
                        <i class="fa fa-opencart" aria-hidden="true"></i>
                    </a>
                    <h3 class="text-success" th:text="${'$' + book.getPrice()}"></h3>
                    <div class="rating text-warning">
                        <i th:each="i : ${#numbers.sequence(1,5)}"
                           th:class="${book.getStar() >= i ? 'fa fa-star' : 'fa fa-star-o'}"
                           aria-hidden="true"></i>
                    </div>
                    <h4 th:text="${book.getName()}"></h4>
                    <p th:text="${book.getDescription()}"></p>
                    <a th:href="@{${'/book/book-detail/' + book.getId()}}"
                       class="btn btn-success btn-block mt-auto">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Chi tiết
                    </a>

                    <a onclick="deleteProduct()"
                       class="btn btn-danger btn-block mt-3"><i class="fa fa-eye" aria-hidden="true"></i>
                        Xóa
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="modalAddProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nameBook">Name :</label>
                    <input type="text" class="form-control" id="nameBook" aria-describedby="emailHelp" placeholder="Nhập tên của sản phẩm">
                </div>
                <div class="form-group">
                    <label for="descriptionBook">Description :</label>
                    <input type="text" class="form-control" id="descriptionBook" aria-describedby="emailHelp" placeholder="Nhập mô tả của sản phẩm">
                </div>
                <div class="form-group">
                    <label for="priceBook">Price :</label>
                    <input type="number" class="form-control" id="priceBook" aria-describedby="emailHelp" placeholder="Nhập giá tiền của sản phẩm">
                </div>
                <div class="form-group">
                    <label for="starBook">Star :</label>
                    <input type="number" class="form-control" id="starBook" aria-describedby="emailHelp" placeholder="Nhập đánh giả của sản phẩm từ 1 - 5">
                </div>
                <div class="form-group" style="border: none">
                    <label for="bookImage">Image :</label>
                    <input type="file" name="file" class="form-control" id="bookImage" aria-describedby="emailHelp">
                    <img id="imageBook" width="200" height="200"  alt="">
                </div>
                <div class="form-group">
                    <label for="nameAuthorBook">Tên tác giả cuốn sách :</label>
                    <input type="number" class="form-control" id="nameAuthorBook" aria-describedby="emailHelp" placeholder="Nhập tên của tác giả cuốn sách">
                </div>
                <div class="form-group">
                    <label for="birthdayAuthorBook">Ngày sinh của tác giả :</label>
                    <input type="date" class="form-control" id="birthdayAuthorBook" aria-describedby="emailHelp" placeholder="Nhập ngày sinh của tác giả cuốn sách">
                </div>
                <div class="form-group">
                    <label for="categoryBook">Thể loại của cuốn sách :</label>
                    <select id="categoryBook">
                        <option th:each="category : ${lstCategory}" th:value="${category.getId()}" th:text="${category.getName()}"></option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="addProduct()" class="btn btn-primary"
                >Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</body>
</html>